<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แบบฟอร์มทำนายรายได้</title>
</head>
<body>
    <h2>แบบฟอร์มทำนายรายได้</h2>
    <form action="/predict" method="POST">
        อายุ: <input type="number" name="age"><br>
        ประเภทงาน: <input type="text" name="working_class"><br>
        ระดับการศึกษา: <input type="text" name="education"><br>
        สถานภาพการสมรส: <input type="text" name="marital_status"><br>
        อาชีพ: <input type="text" name="occupation"><br>
        ความสัมพันธ์: <input type="text" name="relationship"><br>
        เชื้อชาติ: <input type="text" name="race"><br>
        เพศ: <input type="text" name="gender"><br>
        เงินทุนที่ได้รับ: <input type="number" name="capital_gain"><br>
        เงินทุนที่สูญเสีย: <input type="number" name="capital_loss"><br>
        ชั่วโมงการทำงานต่อสัปดาห์: <input type="number" name="hours_per_week"><br>
        ประเทศต้นทาง: <input type="text" name="native_country"><br>
        fnlwgt: <input type="number" name="fnlwgt"><br>
        <input type="submit" value="ส่งข้อมูล">
    </form>

    <h3>รายได้ที่คาดการณ์:</h3>
    {% if result is not none %}
        <p>{{ result }}</p>
        <!-- ปุ่มลบค่าการทำนาย -->
        <form action="/clear_result" method="POST">
            <input type="submit" value="ลบค่าการทำนาย">
        </form>
    {% else %}
        <p>ยังไม่มีการทำนาย</p>
    {% endif %}
</body>
</html>
